@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');


body {

line-height: 1.5;
font-family: "Montserrat", sans-serif;
background-color: white;
box-sizing: border-box;
}

main {
margin: 0;
padding: 0;
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: transparent;
}

.cartheader {
height: 80px;
width: 90%;
background-color: white;
border-radius: 3px;
margin: 30px 0px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 35px;

}



.cart {
display: flex;
background-color: #355052;
justify-content: space-between;
align-items: center;
padding: 7px 10px;
border-radius: 3px;
width: 40%;
}

.cart p {
height: 22px;
width: 22px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 22px;
background-color: goldenrod;
color: white;
}

.cartcontainer {
display: flex;
width: 90%;
margin-bottom: 30px;
background-color: rgb(247, 245, 245);
border-radius: 30px;
}

.cartsidebar button {
    background-color: white;
    color:#355052;
    border: 5px solid #355052;
    width: 60%;
    
}


#cartroot{
width: 60%;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 20px;
}

.cartsidebar{
width: 40%;
background-image: url(scottish_highlands_unsplash.jpg);
background-size: cover;
border-radius: 5px;
margin-left: 20px;
padding: 15px;
text-align: center;
margin-left: 20px;
padding: 15px;
}

.carthead{
background-color: #355052;
border-radius: 3px;
height: 40px;
padding: 10px;
margin-bottom: 20px;
color: white;
display: flex;
align-items: center;
}

.cartfoot{
display: flex;
justify-content: space-between;
margin: 20px 0px;
padding: 10px 0px;
border-top: 1px solid #333;
}

.fa-solid {
color: goldenrod;
}

.box{
display:flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
border: 1px solid darkgreen;
border-radius: 25px;
padding: 15px;
}

.img-box{
width: 100%;
height: 200px;
display: flex;
align-items: center;
justify-content: center;
}

.images{
max-width: 90%;
max-height: 90%;
object-fit: cover;
object-position: center;
}

.bottom{
margin-top: 20px;
width: 100%;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
height: 110px;
}
h2{
    font-size: 20px;
    color: black;
}

main button {
    width: 100%;
    position: relative;
    border: none;
    border-radius:  5px;
    background-color: #355052;
    padding: 10px 25px;
    cursor: pointer;
    color: white;
    margin-left: 0;
}

main button:hover{
    background-color: #c1e4e6;
    text-decoration: underline;
}

.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
}
.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}

.fa-trash:hover{
    cursor:pointer;
    color: #333;
}

/* css for nav bar and header. Includes on-hover state for links in menu, logo and CTA-buttons. Used on all pages */

.nav_links, a {

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #355052;
    text-decoration: none;

}

button {

    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #355052;
    text-decoration: none;
    padding: 9px 20px;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
    border-radius: 6px;
}


button:hover {

    background-color: #355052;
    text-decoration: none;
    color:#ffffff;
}


header {

    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 30px 10px;
    background-color: #ffffff;

}

.logo {

    cursor: pointer;
    margin-right: auto;

}

.nav_links {

    list-style: none;
}

.nav_links li {

    display: inline-block;
    padding: 0px 20px;

}

.nav_links li a {

    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {

    color:rgba(53,80,82,1);
    text-decoration: underline;

}

/* Css for footer and footer navigation meny. Includes hover-state for links. used on all pages */

.footer {

    background-image:url("assets_ca/RainyDays_Logo.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 350px;
    padding: 70px 0;
    bottom:0;
}


.footer-container {

    max-width: 1350;
    margin: 0;
}

.footer-row {

    display: flex;
    flex-wrap:wrap;
}

ul {

    list-style: none;
}

.footer-col {

    width: 25%;
    padding: 0;
}

.footer-col h4 {

    font-size: 18px;
    color: #F7F8F1;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    background-color: #355052;

}

.footer-col h4::before{

    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #355052;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}

.footer-col ul li:not(:last-child){

    margin-bottom: 10px;
}

.footer-col ul li a{

    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{

    color:#355052;
    padding-left: 8px;
}

.footer-col .social-links a{

    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:#355052;
    transition: all 0.5s ease;

}

.footer-col .social-links a:hover{

    color: #355052;
    background-color: #ffffff;
}




/*responsive*/

@media(max-width: 767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
}
}
    @media(max-width: 574px){
        .footer-col {
            width: 100%;
        }
    }
